<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/homedesign.css">
</head>
<body>
<div class="nav">
<a href="/">Home</a>
</div>

<div class="title">
	<h2>About our Website</h2>
</div>

<div class="paragraphs">
    <H4>This a full-stack Python web application that uses an LSTM neural network for
time-series forecasting of stock prices. Integrating financial market data
with an interactive web interface.</H4>
</div>

<footer class="footer">
    <p>&star; 2026 Stock Tracker</p>
</footer>

</body>
</html>
