<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STOCK TRACKER</title>
    <link rel="stylesheet" href="../static/homedesign.css">
</head>
<body>

<div class="nav">
<a href="Home.html">Home</a>
<a href="about.html">About</a>
</div>


<div class="title">
	<h2>STOCK TICKER</h2>
</div>

<div class="container">
    <input id="tickerId" type="text" placeholder="Enter a Stock Ticker" value="">
    <button>Search</button>
</div>
<script>
    let chartInstance = null;

    async function runPrediction() {
        const ticker = document.getElementById("tickerId").value.trim().toUpperCase();
    }
</script>
</body>
</html>
